<header class="site-header blue" role="banner">

  <div class="wrapper narrow">

    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <a class="website-title" href="/">
      <h1>
        <span>Papers We Love</span>
        <span class="bigger">Bangalore</span>
      </h1>
    </a>

    <nav class="site-nav">
      <a title="Subscribe to calendar"
         target="_blank"
         href="https://www.meetup.com/Papers-we-love-Bangalore/events/calendar/">
           Calendar
       </a>

      <a title="Previous Sessions"
         href="/talks">
           Previous Sessions
      </a>
    </nav>
  </div>

</header>
