* {
    margin: 0;
    padding: 0;
}

a {
    color: #02599D;
    text-decoration: none;
}

body {
    background: white;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.blue {
    color: white;
    background: #02599D;
}

.narrow {
    width: 960px;
    max-width: 960px;
    margin: 0 auto;
}

.site-header {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: #02599D;
    background-image: url(/assets/bg.svg);

}

.site-header h1 {
    display: flex;
    flex-flow: column;
    font-family: "Work Sans", Avenir, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    text-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

.website-title {
    margin-right: 4rem;
}

.site-header h1 span.bigger {
    font-size: 3rem;
    font-weight: bold;
}

.site-header .wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0rem;
    box-sizing: border-box;
}

.site-header a {
    text-decoration: none;
    color: white;
    font-family: "Work Sans", sans-serif;
}

.site-nav {
    display: flex;
    text-shadow: 0 2px 4px rgba(0,0,0,0.25);

    a {
        margin-right: 10vw;
    }

    a:last-child {
        margin: 0;
    }
}

.home {
    padding: 4rem 2rem;
    line-height: 1.5rem;
}

#faq a {
    color: hsl(190deg, 80%, 50%);
    text-decoration: underline;
}

#faq h2 {
    margin-bottom: 2rem;
}

#faq h3 {
    margin: 1rem 0;
}

#welcome-content {
}

#welcome-content p {
    padding: 1rem 0;
    font-size: 1.25rem;
    max-width: 960px;
}

#call-to-action {
    display: flex;
    flex-flow: row;
    padding: 4rem 2rem;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    width: 100vw;
    box-sizing: border-box;
}

#call-to-action a {
    width: 50%;
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(7,15,24,0.15);
    border-radius: 10px;
    transition: 0.25s all ease;
}

#call-to-action a:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

a#join-community {
    background: white;
    color: #007FD5;
}

a#propose-talk {
    background: #7AD417;
}

footer {
    color: white;
    padding: 4rem;
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

footer h2 {
    font-weight: normal;
    font-size: 1rem;
}

footer a {
    color: white;
}

#talk-listing {
    max-width: 960px;
    list-style: none;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

#talk-listing h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1rem 0;
    border-bottom: 1px solid hsla(0,0,0,0.15);
    padding: 1rem 0;
}

#talk-listing .description {
    font-size: 0.85rem;
    line-height: 1.5rem;
}

#talk-listing li {
    padding: 1rem 0;

}


@media screen and (max-width: 600px) {

  .site-header .wrapper {
	display: flex;
	flex-flow: column;
  }

  .website-title {
	margin-bottom: 1rem;
  }

  .site-nav {
	margin: 0;
  }

  .website-title {
	margin-right: 0;
  }

  .links a {
    margin-right: 5vw;
  }

  #call-to-action {
	display: flex;
	flex-flow: column;
	padding: 1rem 0;
  }

  #call-to-action a {
	margin: 0.5rem 0;
  }
}
