---
layout: default
---

<div class="home">

  {{ content }}

  <section id="welcome-content">
  <h1>Howdy! Fellow Learner</h1>
  <p>What was the last paper within the realm of computing you read and loved? What did it inspire you to build or tinker with?</p>

<p>Come join our community to discuss and share ideas about that awesome research paper with fellow engineers, programmers, and paper-readering enthusiasts.</p>

<p>Lead a session and show off code that you wrote that implements these ideas or just give us the lowdown about the paper (because of HARD MATH!). Just come, listen, and discuss.</p>

<p>If you need to reach out to us or have ideas for papers, just ask
  us via our <a href="http://twitter.com/papersweloveblr">twitter account</a>.</p>
  </section>

</div>
